<h1>Bienvenue sur les-petites-histoires-du-soir.com,</h1>   
<p>Vous vous êtes inscrit avec succès sur les-petites-histoires-du-soir.com,     
votre email d'utilisateur est : <%= @user.email %>.
<br>   
</p> 
<p>Merci pour votre inscription et bonne journée !</p> 