<div class="e_mail">
  <h1>Bienvenue sur <strong>Les-Petites-Histoires-du-Soir</strong>.com</h1>   
  <p>
    Vous vous êtes inscrit avec succès sur Les-Petites-Histoires-du-Soir.com   
    <br>  
    Votre email d'utilisateur est : <%= @user.email %>.
  <br>   
  </p> 
  <p>Merci pour votre inscription et bonne journée !</p> 
</div>