<div class="boxy">
  <% @stories.sort{|a,b| b.likes.size <=> a.likes.size}.first(3).each do |story| %>
    <div class="cardoo">
      <div class="card-body">
      	<center><h1 class="card-title"><%= story.title %></h1></center>
      	<%= link_to "Lire", story_path(story), class: "btn btn-card" %>
			</div>
		</div>
  <% end %>
</div>