<div class="container text-align">
    <h2><u>Best stories</u></h2>

        <% @stories.sort{|a,b| b.likes.size <=> a.likes.size}.first(3).each do |story| %>

        <p><%= link_to story.title, story_path(story) %></p>

        <% end %>

</div>