<div class="jumbotron2-hero">
  <div class="containerMain">
    <br>
    <right>
      <h1>Petites Histoires du soir</h1>
      <h6>Vous pouvez toujours conter sur nous</h6>
    </right>
  </div>
  <div class="text-center p-3" style="background-color: black;">
    <a class="text-white" href="">&copy; Les Petites Histoires du Soir - THP x Twone</a>
  </div>
</div> 
